@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Schoolbell&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  font-weight: medium;
  font-size: 1.5rem;
}

h1 {
  font-family: 'Schoolbell', cursive;
  font-size: 3rem;
}
